//mixins

@mixin primaryColor {
    color:#530000;
}

@mixin boxShadow {
     box-shadow: 10px 10px 10px lightslategrey; 
}



/* // mobile */



/* // tablet */

@media only screen and (min-width: 600px) {}

/* //desktop */
@media screen  and (min-width: 768px) {

    .main {
 
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 90vw;
        height: 50vh;
        margin-top: -15%;
        font-family:"Bona Nova";
    }

    .main h2 {
         @include primaryColor;
         font-size: 36px;
    }


    .mainMiddle {
        display:flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        width: 90vw;
        height: 40vh;
        padding: 2%;
     }
     .mainImg {
        width: 30vw;
        height: 60vh;
        @include boxShadow();
     }

    .mainLeft {
        width:60vw;
        padding: 2%;
        margin: 1%;
              background-color: whitesmoke;
        opacity: 0.7;
        @include boxShadow();
    }
    

    .imgBox {
        display:flex;
        flex-direction: column;
        height: 50vh;
    }

    .imgBox h2 {
        margin-top: 5%;
    }

    .definition {
       border: 1px solid lightslategray;
 
    }

}