
/* // mobile */



/* // tablet */

@media only screen and (min-width: 600px) {}

/* //desktop */
@media screen  and (min-width: 768px) {


    nav {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        padding: 0 3%;
        margin:auto 0;
    }
    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color:black;
    }

    .renLogo {
        width: 10vw;
        height: 10vh;
        margin-left: -10%;
    }

    .spacer {
        width: 100vw;
        height: 7vh;
    }

        .headerImg {
            width: 100vw;
            height: 30vh;
        }

}