.events {
  
    display:flex;
    flex-direction: column;
}
.eventsTop {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1%;
}

.eventsTop img {
    width: 350px;
    height: 500px;
    border: 1px solid lightslategray;
    box-shadow: 5px 5px 20px lightslategrey; 
    margin-top:3%;
}


.eventsBottom{
        display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}
.eventsBottom img {
    width: 500px; 
    height: 750px;

}

.eventsBut {
    width: 10%;
    margin:3%;
}