
/* // mobile */



/* // tablet */

@media only screen and (min-width: 600px) {}

/* //desktop */
@media screen  and (min-width: 768px) {

 footer {
    background-color: black;
    color:white;
    width: 100vw;
 }
    
}