
/* // mobile */



/* // tablet */

@media only screen and (min-width: 600px) {}

/* //desktop */
@media screen  and (min-width: 768px) {

    .navContainer {
        width: 100vw;
    }
   
    .topNav {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        padding: 0 5%;
        margin:auto 0; 
        position:fixed;
        // background-color:white;
          background-image: url("../../images/marble.jpg");
    }
    li {
        list-style: none;
        width: 150px;
    }
    
    .topNav a {
        // clip-path: polygon(15% 0%, 55% 0%, 80% 50%, 55% 100%, 15% 100%, 0% 30%);
        text-decoration: none;
        color:black;
        padding: 10%;
    }
    
    .topNav a:hover {
        background:white;
        cursor:pointer;
        border: 2px solid #800020;
    }

    .renLogo {
        width: 10vw;
        height: 10vh;
        margin-left: -10%;
    }

    .spacer {
        width: 95vw;
        height: 3vh;
        box-shadow: 10px 10px 15px lightgrey;   
    }

    .topSpacer {
        margin-top:5%;
        position:fixed;
        width: 95vw;
    }

        .topNavImg {
            width: 95vw;
            height: 30vh;
            margin-top: 7%;

        }

}